// .container.header-main {
//     // display: flex;
//     // align-items: center;
//     // justify-content: space-between;
//     // margin: 0;
// }

<<<<<<< HEAD

.menu-container{
   
    padding: 20px;
    text-align: center;
        
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        background:$background-color-header;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                    0px 2px 4px rgba(0, 0, 0, 0.08), 
                    0px 1px 3px rgba(0, 0, 0, 0.16); 
        &.is-open{
        display: block;
        }
    }

   
        
}

=======
>>>>>>> 0fb110b9edf70fbafaf97ba381e06a5c8b501ff2
@media screen and (min-width: 320px) and (max-width: 767px){
    .header-link{
        font-size: 18px;
        line-height: 1.166;
    }
    .mail-link{
        font-size: 18px;
        line-height: 1.166;
    }
}

<<<<<<< HEAD
@media screen and (min-width: 768px) and (max-width: 1199px){

        .menu-container{
            padding: 35px 0;
            display: flex;
                    
    }

    .link-icon-envelope, .link-icon-phone{
        margin-right: 8px;
        padding: 0;        
    }
    .contacts li:not(:last-child){
        margin-bottom: 10px;
    }
       
    .studio .current::after{
        bottom: -8px;
    }
    .portfolio .current::after{
        bottom: -8px;
    }
    .site-nav{
        margin-right: 84px;
    }

}

@media screen and (min-width: 1199px) and (max-width: 1600px){

    .contacts{
        display: flex;
    }

    .contacts li:not(:last-child){
        margin-right: 30px;
    }

    .menu-container{
        padding: 35px 0;
        display: flex;                
    }

    .link-icon-envelope, .link-icon-phone{
        margin-right: 8px;
    }

    .nav-list-header{
        margin-right: 305px;
    }

}

=======
>>>>>>> 0fb110b9edf70fbafaf97ba381e06a5c8b501ff2
.menu-button{
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
        fill: $accent-color;
        cursor: pointer;
    }

    & .icon-close{
    display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button.is-open {
    & .icon-close{
    display: block;
    }

    & .icon-menu{
    display: none;
    }
}


<<<<<<< HEAD
=======
.menu-container{
   
    padding: 20px;
    text-align: center;
        
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        background:$background-color-header;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                    0px 2px 4px rgba(0, 0, 0, 0.08), 
                    0px 1px 3px rgba(0, 0, 0, 0.16); 
        &.is-open{
        display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;        
    }
}
>>>>>>> 0fb110b9edf70fbafaf97ba381e06a5c8b501ff2


.page-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    
    position: relative;
}

// width: 134px;
// height: 28px;
// left: 15px;
// top: 16px;

// font-family: Raleway;
// font-style: normal;
// font-weight: bold;
// font-size: 24px;
// line-height: 28px;
// letter-spacing: 0.03em;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid #ECECEC;
}

.site-nav {
    & a {color: $title-text-color;  
        text-decoration: none;  
        }
 
    @media screen and (min-width: 768px) {
        display: flex;
         & .site-nav-link:not(:last-child){
        margin-right: 50px;   
        }
    
    }
}
  


.site-nav-link{
    display: block;

    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        
        &.studio {
            padding-bottom: 8px;
            margin-bottom: 52px;
        }

        &.portfolio {
            margin-bottom: 40px;
        }

        &.contact {
            margin-bottom: 60px;
        }
    }

    // @media screen and (min-width: 768px) {
    // padding-top: 32px;
    // padding-bottom: 32px;  
    // }  
}

.contacts {

    @media screen and (min-width: 768px) {
        // display: flex;
        align-items: baseline;
        
    }
    & .footer-adress-contacts{
        @media screen and (max-width: 767px) {
            margin-bottom: 16px;
            
        }
    }
}

// .contacts .footer-adress-contacts+.footer-adress-contacts{
//     margin-left: 50px;
// }

.link-icon-envelope,
.link-icon-phone{
    fill: $primary-text-color;
    // margin-right: 10px;
}

.mail-link{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .link-icon-envelope,
    &:focus .link-icon-envelope,
    &:hover .link-icon-phone,
    &:focus .link-icon-phone{ 
        fill: $accent-color;
        cursor: pointer; 
    }

    
}