.feauture-list-main {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        width: 100%;  
        justify-content: space-between;
        background-color: tomato;
    }
}

.section-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        background-color: tomato;
    }
    
}
  
.feature-list {
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
  
