$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$background-color-main: #E5E5E5;
$background-color-primary: #F5F4FA;
$background-color-header: #FFFFFF;
$background-color-footer: #2F303A;
$footer-color: rgba(255, 255, 255, 0.6);